.main-page{
  width: 393px;
  height: 852px;  
  background-image: url('../images/background.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  margin: 0 auto;


}
.main-content {
    padding: 60px 20px;
    text-align: center;
    font-family: 'Gamja Flower';

  }
  
  h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  p {
    font-size: 1.2rem;
    color: #666;
    margin-top: 20px;
  }
  