.mypage-container {
    width: 100%;
    max-width: 400px;  
    margin: 0 auto;
    text-align: center;
    align-items: center;
    font-family: 'Gamja Flower';

  }
  
  .mypage-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .profile-section {
    display: flex;
    flex-direction: column; 
    align-items: center;   
  }
  
  .profile-image {
    width: 188px;  
    height: 174px;
    border-radius: 50%; 
    object-fit: cover;
    margin-bottom: 10px; 
  }
  
  .image-upload-input {
    display: none; 
  }
  
  .image-upload-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .user-info {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
  }

  .info-item label {
    font-weight: bold;
    margin-bottom: 5px;
    flex-basis: 30%;
  }
  
  .info-item input {
    width: 20%;
    padding: 8px;
    font-size: 1rem;
    border:none;
    border-radius: 4px;
  }
  
  .button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 270px;
    align-items: center;
    justify-content: center; /* 수직 중앙 정렬 */
    margin: 0 auto; /* 부모의 가운데 정렬 */
  }
  
  .logout-btn{
    padding: 10px;
    width: 250px;
    background: #BBB5B0;
    box-shadow: 0px 2px 2px #BBB5B0;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    color: white;


  }
  .image-upload-button{
    background: #BBB5B0;
    border: none;
    border-radius: 10px;
    color: white;
  }
  .nick-edit-button{
    background: #BBB5B0;
    border: none;
    border-radius: 10px;
    color: white;
    margin-left: 10px;
  }