.shoplist-maincontainer{
width: 375px;
height: 812px;
display: flex;
flex-direction: column;
align-items: center;
background-image: url('../images/background.png');
}
.content-container{
box-sizing: border-box;
width: 330px;
height: 711px;
flex-direction: column; /* 세로 방향 정렬 */
justify-content: center; /* 세로축 중앙 정렬 */
align-items: center; /* 가로축 중앙 정렬 */
border-radius: 10px;
border: 5px solid #fff;
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}
.tag-container{
width: 100%;
display: flex;
justify-content: center;
margin: 5%;
}
.shoplist-content{
display: flex;
box-sizing: border-box;
margin: 3%;
text-align: center;
justify-content:space-evenly;
align-items: center;
width: 310px;
height: 182px;
background-color: #ffff;
border-radius: 19px;
box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25)#00000040;
}

.text{
    width: 30%;
}

.shoplist-content img {
    width: 158px;
    height: 158px;
    border-radius: 8px; /* 둥근 모서리 추가 (선택 사항) */
}
.shoplist-content a {
    color: #5f5d5a;
    font-family: 'Gamja Flower', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.17px;
}